@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

.project {
    max-width: 1000vh;
    flex-wrap: wrap;
    -webkit-text-size-adjust: 100%;
}
.content {
    background-color: #1f2937;
    width: 101%;
    height: 500px;
    margin-right: -10px;
    margin-left: -8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
}
.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 250px;
 

}
.header {
    color: #e5e7eb;
    font-size: 24px;
    font-family: Roboto; 
    margin-top: -1px; 
    margin-top: 13px;
    margin-left: 150px;
}
.nav{
    margin-right: px;
}



ul li  {
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    font-size: 18px;
    color: #e5e7eb;
    font-family: roboto;
    justify-content: end;

    
}
ul li a {
    padding: 20px;
}


.content-1 {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    min-width: 100%!important ;


    

}
.left {
     
}
.left-content {
    font-size: 48px;
    font-weight: bold;
    font-family: roboto;
    color: #f9faf8;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow-y: hidden;
}
.btn {
    width: 100px;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 12px;
    border-radius: 12px;
    margin-left: 150px;
    border: 2px solid #e5e7eb;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    
}
.right-content {
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   margin-right: 160px;
   margin-top: 60px;
}
.box {
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-family: roboto;
   color: #f9faf8;
   background-color: gray;
   font-size: 25px;
   border: 2px solid black;
   width: 350%;
   height: 60%;
   padding: 20px;
}
.content-2 {
    width: 101%;
    margin-left: -10px;
    margin-right: -8px;
    margin-top: 50px;
    width: 101%;
}
.head-2 {
    font-size: 36px;
    text-align: center;
    font-family: roboto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxes {
    display: flex;
    gap: 50px;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
}
.box-1 {
    border: 4px solid #3882f6;
    padding: 10px;
    width: 130px;
    height: 120px;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    flex-direction: row;
    
}
.text {
    text-align: center;
    font-size: 16px;
}
.content-3 {
    width: 101%;
    height: 400px;
    margin-top: 100px;
    margin-left: -10px;
    margin-right: -8px;
    background-color: #e5e7eb;

}
.t-1 {
    font-size: 30px;
    color: #1f2937;
    text-align: left;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: light italic;
    
    
}
.t-2 {
    text-align: right;
    margin-right: 300px;
    font-family: roboto;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.content-4 {
    width: 95%;
    height: 250px;
    margin: 50px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;

}
.display {
    display: flex;
    padding: 30px;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.info {
    color: #f9faf8;
    font-size: 20px;
    padding: 30px;
    font-family: roboto;
    flex: 1;
    flex-direction: row;
}
.btn-1 {
    flex-direction: row;
    justify-content: right;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 50px;
    box-shadow: #e5e7eb;
    border-color: white;
    margin-top: -100px;

}
.content-5 {
    width: 101%;
    height: 200px;
    background-color: #1f2937;
    margin-left: -10px;
    margin-right: -8px;
}
.end {
    text-align: center;
    padding: 70px;
}
.footer {
    color: #e5e7eb;
    font-family: roboto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

